
body{
  margin: 0;
  padding: 0;
  color: #e5e7eb;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: 0;
  font-size: 24px;
}
.first{
  width: 100%;
  background-color: #1f2937;
  padding-bottom: 60px;
}
.one{
  font-size: 48px;
  margin-bottom: 0;
  font-weight: bolder;
}
.nav{
  justify-content: space-between;
  display: flex;
  width: 350px;
  padding-right: 100px;
  
}
.firstcontent{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 0;
}
.info{
  display: flex;
  flex-direction: column;
  width: 350px;
}
.button{
  width: 100px;
  border-radius: 20px;
  background-color: rgb(26, 82, 173);
  color: beige;
  height: 30px;
  border: none;
}
.image{
  background-color: #f9faf8;
  height: 150px;
  width: 450px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.secondheader{
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
}
.images{
  display: flex;
  color: #1f2937;
  gap: 25px;
  padding: 35px;
}
.random{
  width: 145px;
  display: flex;
  flex-direction: column;
}
.picture{
  border-radius: 20px;
  border: solid;
  height: 130px;
}
.descrip{
  padding-left: 8px;
}
.third{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding-top: 35px;
  padding-bottom: 35px;
}
.quote{
  font-size: 36px;
  color: black;
  width: 700px;
}
.author{
  display: flex;
  justify-content: end;
  font-size: 20px;
  color: black;
  width: 700px;
}
.fourth{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.item{
  background-color:  rgb(26, 82, 173);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  height: 90px;
  border-radius: 10px;
}
.call{
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 50px;

}
.sbutton{
  border-radius: 10px;
  border: solid;
  border-color: white;
  color: beige;
  background: transparent;
  padding: 8px 15px;
  border-width: 1px;
}
